body {
    margin: 0;
    padding: 0;
    background: #FCAEAE;
    height: 100vh;
    text-align: center;
}

h1 {
    margin: auto;
    text-align: center;
    padding: 5rem 0 1rem 0;
    color: #FF6666;
}

h1 span{
    color: #FFEADD;
}

.container {
    margin: auto;
    padding: 1rem;
    width: 60%;
    height: 80%;
    position: relative;
    background: #FFEADD;
    border: 2px solid #FCAEAE;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider {
    margin: auto;
    display: flex;
    justify-content: center;
}

.slide {
    width: 80%;
    height: 60%;
    object-fit: cover;
    border-radius: 1rem;
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    font-size: 15px;
    border: none;
    background: #FFEADD ;
    cursor: pointer;
}

button i {
    color: #FF8989 ;
    background:#FFEADD;
    font-size: 20px;
}

button i:hover{
    color: #FF8989;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}